# Ignore everything by default
*

# Specific Ignores
/.venv/
/.idea/

# Exceptions
# Re-include the .gitignore file itself
!.gitignore
# Re-include the main README file
!README.md
# Re-include chapter notebooks
!chapter_*.ipynb
# Re-include support_function.py file
!support_functions.py
# Re-include lab notebooks
!lab_*.ipynb

# Re-include requirements.txt file
!requirements.txt
